<%= form_for @post, html: { multipart: true } do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%
    categories = [['design', 'design'], ['coding', 'coding'], ['fashion', 'fashion']]
  %>

  <div class="field">
    <%= form.label :category_list %>
    <%#= form.text_area :category_list %>
    <%= form.select :category_list, categories, include_blank: true %>
    <%#= select_tag "category_list", options_from_collection_for_select(categories) %>
  </div>

  <div class="field">
    <%= form.label :cover %>
    <%= form.file_field :cover %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :tag_list %>
    <%= form.text_area :tag_list %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
